@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: theme(colors.accent) theme(colors.dark);
  }

  body {
    @apply bg-light text-accent font-body;
  }

  section {
    @apply max-w-6xl w-full mx-auto py-20 px-4;
  }

  h1 {
    @apply font-display font-medium text-3xl;
  }

  h2 {
    @apply font-display font-medium text-4xl text-center mb-4;
  }

  h2 + p:first-of-type {
    @apply text-xl text-center mb-12;
  }

  a {
    @apply duration-200 hover:text-highlight;
  }
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.page-enter-active,
.page-leave-active {
  transition: all 250ms;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
