@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: theme(colors.accent) theme(colors.dark);
  }

  body {
    @apply bg-light text-accent font-body;
  }

  section {
    @apply max-w-3xl w-full mx-auto py-20 px-4;
  }

  h1 {
    @apply font-display font-medium text-3xl;
  }

  h2 {
    @apply font-display font-medium text-4xl text-center mb-4;
  }

  h2 + p:first-of-type {
    @apply text-xl text-center text-balance mb-12;
  }

  nav a {
    @apply duration-200 hover:text-highlight;
  }

  p a {
    @apply text-highlight underline duration-200 hover:opacity-70;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 250ms;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
